<template>
  <div></div>
</template>

<script>

import { mapGetters, mapActions, mapMutations} from 'vuex'


export default {
  name: '',
  data () {
    return {
      isLoad: false
    }
  },
  
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  
  sockets: {
    'connection' (data) {
      this.socketAuth()
    },

    'battle/new' (data) {
      if (data.status) {
        for (let key in data.teams) {
          if (key == this.user.id)
            this.SET_MY_TEAM_FOR_BATTLE(data.teams[key])
          else 
            this.SET_MY_ENEMY_FOR_BATTLE(data.teams[key])
        }
        this.SET_BATTLE_ROUND(data.round)
        this.$router.push('/battle/' + this.battleToken)
        this.battleToken = null
      }
    },

    'auth-susseful' (data) {
      this.SET_CONNECTION(data.id)
    },

    'auth-fail' (data) {
      console.log(data)
    }
  },

  methods: {
    ...mapMutations([
      'SET_MY_TEAM_FOR_BATTLE',
      'SET_MY_ENEMY_FOR_BATTLE',
      'SET_BATTLE_ROUND',
      'SET_BATTLE_ID',
      'SET_CONNECTION'
    ]),

    socketAuth (){
      this.$socket.emit('auth', {token: localStorage.getItem('__TOKEN__')})
    }
  }
}
</script>
