<template>
  <div class="battle-animation">
    <div id="battle-sound">
      <audio crossOrigin="anonymous" preload="auto"  src="/static/sound/actions/attack.mp3" id="attack"></audio>
      <audio crossOrigin="anonymous" preload="auto"  src="/static/sound/actions/arrow.mp3" id="arrow"></audio>
      <audio crossOrigin="anonymous" preload="auto"  src="/static/sound/actions/fireAttack.mp3" id="fireAttack"></audio>
      <audio crossOrigin="anonymous" preload="auto"  src="/static/sound/actions/magic-round.ogg" id="magicRoundMus"></audio>
    </div>
    <div id="boow-arrow" class="an-arrow">
      <img src="@/assets/img/animation/arrow.png">
    </div>
    <div id="fireball" class="an-fireball">
      <img src="@/assets/img/animation/fireball.gif">
    </div>
  </div>
</template>

<script>
export default {
  name: ''
}
</script>

<style lang="stylus" scoped>
  
.an-arrow
  height 150px
  position fixed
  z-index 100
  opacity 0
  overflow hidden
  &.pool
    img
      margin-top -20px
  img
    height 150px
.an-fireball
  height 70px
  position fixed
  z-index 100
  opacity 0
  overflow hidden
  &.pool
    opacity 0.5
  img
    height 100%
</style>
