<template>
  <transition name="fade">
    <div class="battle_character" v-if="character">
      <div class="title">
        {{title}}
      </div>
      <div class="head">
        <div class="character_icon" v-bind:style="'background-image: url(/static/image' + character.img + ')'">
        </div>
        <div class="text">
          <p class="name">{{character.name}}</p>
          <p>{{ (character.type_attack == 1) ? 'Ближний бой' : 'Дальний бой' }}</p>
        </div>
      </div>

      <div class="character__info">
        <div class="character-info-item">
          <p><i class="fas fa-khanda"></i> Атака</p>
          <span>{{character.attack}}</span>
        </div>

        <div class="character-info-item">
          <p><i class="fas fa-heart"></i> Здоровье</p>
          <span>{{character.health}}</span>
        </div>

        <div class="character-info-item" v-if="character.physical_armor > 0">
          <p><i class="fas fa-shield-alt"></i> Физическая защита</p>
          <span>{{character.physical_armor}}</span>
        </div>

        <div class="character-info-item" v-if="character.magic_armor > 0">
          <p><i class="fas fa-star-of-david"></i> Магическая защита</p>
          <span>{{character.magic_armor}}</span>
        </div>
      </div>
      <br>

      <div class="skills" v-if="character.skills && main">
        <div class="skill-item" v-for="(skill, key) in character.skills" :key="key + 10" :class="{'active': activeSkill && skill.id == activeSkill.id}">
          <i class="skill" :class="skill.slug" >
          <!--  <span>{{keys[key]}}</span> -->
          </i>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'failModal',

  props: ['character', 'title', 'main'],
  
  data () {
    return {
      keys: ['Q','W','E','R'],
      activeSkill: null
    }
  },
  
  watch: {
    character: function (val) {
      if (!this.main) return;
      removeEventListener('keyup', this.addEventKeyup)
      addEventListener("keyup", this.addEventKeyup);
    }
  },
  
  methods: {
    addEventKeyup (e) {
      if (!this.character.skills) return false;
      if (e.keyCode == 81) {
        if ( !this.character.skills[0] ) return false
        if ( this.activeSkill == this.character.skills[0] ) {
          this.activeSkill = null
          return this.$emit('press', {skill: null})
        }
        this.activeSkill = this.character.skills[0]
        return this.$emit('press', {skill: this.character.skills[0] && this.character.skills[0]})
      }
      
      if (e.keyCode == 87) {
        if ( !this.character.skills[0] ) return false
        if ( this.activeSkill == this.character.skills[1] ) {
          this.activeSkill = null
          return this.$emit('press', {skill: null})
        }
        this.activeSkill = this.character.skills[1]
        return this.$emit('press', {skill: this.character.skills[1] && this.character.skills[1]})
      }
      
      if (e.keyCode == 69) {
        if ( !this.character.skills[2] ) return false
        if ( this.activeSkill == this.character.skills[2] ) {
          this.activeSkill = null
          return this.$emit('press', {skill: null})
        }
        this.activeSkill = this.character.skills[2]
        return this.$emit('press', {skill: this.character.skills[2] && this.character.skills[2]})
      }
      
      if (e.keyCode == 82) {
        if ( !this.character.skills[3] ) return false
        if ( this.activeSkill == this.character.skills[3] ) {
          this.activeSkill = null
          return this.$emit('press', {skill: null})
        }
        this.activeSkill = this.character.skills[3]
        return this.$emit('press', {skill: this.character.skills[3] && this.character.skills[3]})
      }
    }
  },
  
  mounted () {}
}
</script>

<style lang="stylus" scoped>
  .title
    display block
    margin-bottom 30px
    font-size 24px
    text-align center

  .battle_character
    width 100%
    margin-bottom 30px
    max-height 60%
    background rgba(0,0,0,0.5)
    padding 15px
    color #fff
    z-index 99
    transition all 0.2s linear

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  .character_icon
    width 50px
    height 50px
    display inline-block
    vertical-align top
    background-size cover
    margin-right 15px

  .head
    display flex
    margin-bottom 20px
    p
      font-size 14px
      font-weight 300
      display block
      margin-bottom 10px
      &.name
        margin-top 5px
        font-size 18px

  .character-info-item
    display flex
    width 100%
    justify-content space-between
    margin-bottom 10px
    p
      font-size 16px
</style>
