<template>
  <div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-window large">
      <div class="title">Вы потерпели поражение!</div>
      <p>Ваш рейтинг спинизился на <i>10</i> единиц!</p>
      <button class="btn-img" @click="$emit('close')">Выход</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'failModal',

  props: ['gold', 'expirience']
}
</script>

<style lang="stylus" scoped>
  .modal-overflow
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0,0,0,.5)
    z-index 100
  .modal-window
    width 430px
    border none
    height 300px
    background url(../../../assets/img/bg/fail.png)no-repeat center
    background-size 100%
    padding 70px 15px 0
    z-index 101
   p
    color #fff
    font-size 16px
    text-align center
    letter-spacing 1px
    i
      color #d47f16
      font-style normal
  .title
    text-align center
    color #d47f16
    text-shadow 0 1px 2px #000
    font-size 36px
    margin-bottom 30px

  .reward
    text-align center
    color #ad6307
    .f-td
      padding 0 10px
      width 50%
    span
      display block
      color #b92c2c
      font-size 30px
    // text-shadow 0 1px 3px #843921
</style>
