<template>
  <div class="battle-block">
    <div class="logger">
      <div class="logger-item" v-for="(item, key) in log" :key="key">
        <span class="date">{{item.date}}:</span>
        <div class="team" v-if="item.team">{{
          (item.team && item.team.name) ? item.team.name : 'Противник'
        }}:</div>

        <div class="char" v-if="item.character">
          {{
          item.character ? item.character.name : ''
        }}</div>

        <p>{{item.text}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'log',

  props: ['log']
}
</script>

<style lang="stylus" scoped>
  .battle-block
    overflow auto
    padding 15px
    transition all 0.2s linear 
    &:hover 
      background rgba(0,0,0,.8)
  .logger
    .logger-item
      display flex
      margin-bottom 10px
      font-size 12px
      font-family 'Roboto', sans-serif
      .date
        width 53px
        color #efb063
      .team
        color #a8b7ff
        margin-right 5px
      .char
        margin-right 5px
        color #ff6464
</style>
