<template>
  <div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-window large">
      <div class="title">Победа!</div>

      <div class="win-row">
        <div class="win-colum">
          <div class="content">
            <div class="icon">
              Exp.
            </div>
            <span>{{expirience}}</span>
            <p>Единиц опыта</p>
          </div>
        </div>

        <div class="win-colum">
          <div class="content">
            <div class="icon">
              <img src="@/assets/img/icons/gold.png" alt="">
            </div>
            <span>{{gold}}</span>
            <p>Золота</p>
          </div>
        </div>

        <div class="win-colum">
          <div class="content" v-if="winnerItems">
            <div class="virtual-bag">
              <div class="virtual-bag-items bag-item" v-for="(item, key) in winnerItems" :key="key">
                <i v-if="item" class="img user-item" :class="item.img" @click="choosenCallItem = item"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn" @click="$emit('close')">Получить</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'winModal',

  props: ['gold', 'expirience', 'winnerItems'],
}
</script>

<style lang="stylus" scoped>

  .modal-overflow
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0,0,0,.8)
    z-index 100

  .modal-window
    width 100%
    border none
    background none
    background-size 100% 100%
    z-index 101

  .title
    text-align center
    color #f9ff40
    text-shadow 1px 5px 10px #ffec05
    font-size 60px
    width 100%
    position relative
    z-index 10
    &:after
      content ''
      display block
      width 100%
      height 40px
      background url('../../../assets/img/interface/win-light.png')no-repeat top center
      background-size 510px
      margin-top 20px

  .win-row
    display flex
    justify-content center
    margin-top -15px
    position relative
    z-index 11
  .win-colum
    margin 0 30px
    display inline-block
    width 130px
    height 280px
    background url('../../../assets/img/interface/win-colum.png')no-repeat top center
    padding 17px 20px
    padding-left 25px
    &:first-child,
    &:last-child
      margin-top -5px
    &:last-child
      padding-right 10px
      padding-top 20px
      padding-left 15px
    p
      text-align center
      display block
      width 100%
      font-size 14px
      color #fff
      padding-left 2px
    span
      font-size 24px
      color #fff
      display block
      text-align center
      margin-bottom 3px
    .icon
      margin-bottom 20px
      border 1px solid #fad44d
      width 80px
      height 80px
      background none
      font-size 36px
      color #fff
      &>img
        margin-top 10px
        margin-left 10px
        max-width 60px
    .virtual-bag
      font-size 0
    .bag-item
      display inline-block
      transform scale(0.7)
      &:not(:first-child),
      &:not(:nth-child(2))
        margin-top -10px
    &:first-child
      .icon
        padding-top 20px
        padding-left 12px

  .btn
    margin 15px auto 0
    display block
    background #392716
    background url('../../../assets/img/interface/win-colum.png')no-repeat center center
    background-size 120%
</style>
