<template>
  <div v-if="show" class="battle-app" id="battle-app" :class="{'cusor-cross': activeSkill}">
    <div class="battle-row">
      <div class="battle-left">
        <characterModal
          :character="activeChar"
          title="Атакующий"
          main="true"
          @press="pressSkill"
        />
        <characterModal :character="hoverChar" title="Цель" />
      </div>
      <div class="battle-center">

        <div class="row first-row">
          <span
            v-for="(item, key) in enemyTeam"
            :key="key"
            class="party-item-wr"
            :class="{'active': item && battleRound[0].id == item.id}"
            :id="item && 'char' + item.id"
            @mouseover="hoverChar = item"
            @mouseleave="hoverChar = null"
            >

            <br v-if="key == 6">

            <div
              class="party-item party-item-melee"
              v-if="!item">

            </div>

            <div
              class="party-item party-item-melee"
              v-if="item"
              @click="item && item.health && (possibleAttack.indexOf(item.id) + 1) && attackThis(item)"
              :class="{'can-attack': item && possibleAttack.indexOf(item.id) + 1}"
              >
              <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
              <div class="magic-round"></div>
              <div
                class="status"
                v-if="item && battleRound[0].id == item.id"
                >
                  <i class="fas fa-khanda"></i>
              </div>

              <div class="damage" :style="{'height': 100 - (item.health * 100 / item.max_health) + '%'}"></div>
            </div>



          </span>
        </div>

        <div class="turn">
          <span v-show="canAttack">
            {{myTurn ? 'Ваш ход' : 'Ход противника'}}
          </span>
          <span v-show="!canAttack">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </span>
        </div>


        <div class="row first-row">
          <span
            v-for="(item, key) in myTeam"
            :id="item && 'char' + item.id"
            class="party-item-wr"
            :key="key + 10" :class="{'active': item && battleRound[0].id == item.id}"
            @mouseover="hoverChar = item"
            @mouseleave="hoverChar = null"
            >

            <br v-if="key == 6">

            <div
              class="party-item party-item-melee"
              v-if="!item"
              @click="moveCharacter(key)"
            >
            </div>

            <div
              class="party-item party-item-melee"
              v-if="item"
              @click="healThis(item)"
              >
              <div class="magic-round"></div>
              <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>

              <div
                class="status"
                v-if="item && battleRound[0].id == item.id"
                >
                <i class="fas fa-khanda"></i>
              </div>
              <div class="damage" :style="{'height': 100 - (item.health * 100 / item.max_health) + '%'}"></div>
              <div class="mana" :style="{'height':  (item.mana * 100 / item.max_mana) + '%'}">
                <span>{{item.mana}}</span>
              </div>
            </div>

          </span>
        </div>

        <div class="row round-row">
          <div class="party-item party-item-melee"
               v-for="(item, key) in battleRound.slice(0, 6)"
               :key="key"
               :class="{'my-team': item.parentId == user.id}">
            <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
          </div>
        </div>
      </div>
      <div class="battle-right">
        <log :log="logData"/>
      </div>
    </div>

    <win-modal
      v-show="openModal == 'win'"
      :gold="rewardGold"
      :expirience="rewardExpirience"
      :winnerItems="rewardItems"
      v-on:close="finishBattle()"
    />

    <fail-modal
      v-show="openModal == 'fail'"
      v-on:close="finishBattle()"
    />

    <animations />

  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" src="./style.styl" scoped></style>
