.modal-window
  max-height 90%
  max-width 740px
  position relative
  transform none
  left 0
  top 0
  margin 30px auto 0
  background rgba(0,0,0,.3)
  background-size cover
  border-width 2px
  text-align center

.battle-app
  background: url(../../assets/img/bg/battle.jpg) no-repeat center
  background-size: cover
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  &.cusor-cross
    cursor: crosshair;
    .party-item-wr,
    .party-item-wr *
      cursor: crosshair!important
  &:before
    content ''
    display block
    position absolute
    left 0
    width 100%
    top 0
    height 100%
    background rgba(0,0,0,.5)
    z-index 10

.battle-row
  display flex
  position fixed
  top 30px
  width 100%
  padding 0 30px
  z-index 99
  align-items stretch
  justify-content center

.battle-left
  width 340px
  display flex
  flex-direction column
  justify-content space-between
  &>div:last-child
    margin-bottom 0
.battle-right
  width 340px

.battle-center
  background rgba(0,0,0,.5)
  margin 0 50px
  padding 30px

.first-row
  width 600px
  font-size 0
  margin 0 auto 0
  span
    display inline-block
    margin 0 5px
.VueCarousel-slide
  margin 0
  width auto
  position relative
  padding 5px
  .party-item
    margin 0
    width 100%

.round-row
  width 600px
  max-width 100%
  margin 30px auto 0
  font-size 0
  overflow hidden
  height 110px
  .party-item
    margin 10px 10px
    .img
      box-shadow inset 0 0 15px #f00
    &.my-team .img
      box-shadow inset 0 0 15px #004890

.turn
  margin-top 30px
  font-size 24px
  color #fff
  height 24px
  text-align center
  margin-bottom 20px

.attack
  position fixed
  opacity 0
  width 50px
  z-index 10
  &.active
    opacity 1

.party-item-wr
    &.damage
        -webkit-animation 0.1s tremor ease-out infinite
        animation 0.1s tremor ease-out infinite

@keyframes tremor
    0%, 25%
      left -1px
      -webkit-transform translateX(-4%)
      transform translateX(-4%)

    50%, 100%
      left 1px
      -webkit-transform translateX(4%)
      transform translateX(4%)

.spinner
  margin 0 auto 0
  width 70px
  text-align center


.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.status 
  background none
  text-align center
  color #5f0000
  font-size 28px
  width auto
  height auto

.battle-block
  width 100%
  margin-bottom 30px
  max-height 50%
  background rgba(0,0,0,0.5)
  padding 30px
  color #fff
  z-index 99
  transition all 0.2s linear
