<template lang="html">
  <div class="character-into">

    <div class="f-table">

      <div class="f-tr">
        <div class="f-td">Жизнь</div>
        <div class="f-td">
          <span class="my">{{hero.health}}</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Урон</div>
        <div class="f-td">
          <span class="my" >{{hero.attack}}</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Физическая защита</div>
        <div class="f-td">
          <span class="my" >{{hero.physical_armor}}</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Магическая защита</div>
        <div class="f-td">
          <span class="my" >{{hero.magic_armor}}</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Шанс критического удара</div>
        <div class="f-td">
          <span class="my" >{{hero.critical_hit_chance}}%</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Шанс уклонения</div>
        <div class="f-td">
          <span class="my" >{{hero.evasion}}%</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Инициатива</div>
        <div class="f-td">
          <span class="my">{{hero.initiative}}</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Вампиризм</div>
        <div class="f-td">
          <span class="my">{{hero.theft_life}}%</span>
        </div>
      </div>

      <div class="f-tr">
        <div class="f-td">Количество действий</div>
        <div class="f-td">
          <span class="my">{{hero.number_actions}}</span>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: ['hero']
}
</script>

<style lang="stylus" scoped>

.f-td
  padding 5px 0
  color #fff

</style>
