<template>
  <div class="common-page">
    <div class="left-block" :class="{'left': chooseHeros}">
      <div class="center">
        <transition name="component-fade" mode="out-in">

          <ul class="menu" v-if="isOpen == 'menu'">
            <li>
              <button @click="isOpen = 'auth'">Авторизация</button>
            </li>
            <li>
              <button @click="isOpen = 'register'">Регистрация</button>
            </li>
            <li>
              <a>Сайт</a>
            </li>
          </ul>

          <div class="auth" v-if="isOpen == 'auth'">
            <div class="modal-form">
              <div class="input-group">
                <input type="text" placeholder="Логин" v-model="login">
              </div>
              <div class="input-group">
                <input type="password" placeholder="Пароль" v-model="password">
              </div>

              <button class="btn btn-small" @click="signIn()">Войти</button>
            </div>
            <br><br>
            <ul class="menu menu-small">
              <li>
                <button @click="isOpen = 'menu'">Назад</button>
              </li>
            </ul>
          </div>

          <div class="auth" v-if="isOpen == 'register'">
            <div class="modal-form">
              <div class="input-group">
                <input type="text" placeholder="Ваше имя" v-model="registerData.name">
              </div>
              <div class="input-group">
                <input type="text" placeholder="Логин" v-model="registerData.login">
              </div>
              <div class="input-group">
                <input type="text" placeholder="E-mail" v-model="registerData.email">
              </div>
              <div class="input-group">
                <input type="password" placeholder="Пароль" v-model="registerData.password">
              </div>

              <button class="btn btn-small" @click="chooseHeros = true">Дальше</button>
            </div>
            <br><br>
            <ul class="menu menu-small">
              <li>
                <button @click="isOpen = 'menu'; chooseHeros = false; choosenHero = null">Назад</button>
              </li>
            </ul>
          </div>
        </transition>

      </div>
    </div>

    <div class="heroes-wrapper" :class="{'visible': chooseHeros}" v-if="characters">
      <div class="heroes" v-if="!choosenHero">
        <div class="title">Выберете героя</div>
        <div class="hero-item" v-for="(item, key) in characters" :key="key" @click="choosenHero = item">
          <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
        </div>
      </div>

      <div class="hero" v-if="choosenHero">

        <div class="choosen-character-img">
          <div class="img" v-bind:style="'background-image: url(/static/image' + choosenHero.full_img + ')'"></div>
        </div>

        <div class="title">{{choosenHero.name}}</div>
        <div class="back" @click="choosenHero = null"><i class="fas fa-undo"></i> Назад</div>

        <hero-info :hero="choosenHero" />

        <button class="btn btn-small" @click="signUp()">Выбрать героя</button>
      </div>


    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped>
.heroes-wrapper
  position fixed
  left 100%
  top 50%
  transform translate(0, -50%)
  padding 15px
  background rgba(0,0,0,.6)
  width 800px
  min-height 600px
  transition all 0.2s linear
  &.visible
    left 600px
  .title
    font-size 28px
    display block
    margin-bottom 15px
    color #f76c46
  .back
    color #fff
    font-size 14px
    margin-bottom 15px
    display block
    cursor pointer

.character-into
  width 360px

.choosen-character-img
  position absolute
  right 10px
  top 2.5%
  height 95%
  width 400px
  .img
    background-size cover
    height 100%

.hero-item
  display inline-block
  vertical-align top
  background-size cover
  margin-right 10px
  margin-bottom 10px
  transition all 0.2s linear
  border 1px solid transparent
  cursor pointer
  &:hover
    border-color #fff
  .img
    height 100px
    width 100px
    background-size cover

.hero
  .btn
    position absolute
    left 25%
    bottom 30px
    height 46px
    color #fff
    top auto
    transform translate(-50%, 0)
    display block
    margin 0
    margin-top 15px
    cursor pointer
    &:hover
      background-color rgba(0,0,0,.6)


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4b3125
}
::-moz-placeholder { /* Firefox 19+ */
  color: #4b3125
}
:-ms-input-placeholder { /* IE 10+ */
  color: #4b3125
}
:-moz-placeholder { /* Firefox 18- */
  color: #4b3125
}

.btn
  border none
  background rgba(90, 43, 2, .08)
  font-size 24px
  margin 0 auto
  display block
  box-shadow 0 0 10px rgba(0,0,0,.2)
  color #4b3125
  &:after,
  &:before
    content ''
    display block
    width 29px
    height 56px
    background url('../../assets/img/interface/auth/decor.png')no-repeat center
    background-size auto 100%
    position absolute
    top 50%
    transform translate(0, -50%)
    transition all 0.2s linear
  &:before
    left -10px
  &:after
    right -10px
    transform translate(0, -50%) rotate(180deg)

.input-group
  position relative
  margin-bottom 15px
  input
    background rgba(255,255,255,.3)
    border none
    color #4b3125
    outline none
    height 32px
    padding-left 15px
    box-shadow 0 1px 10px rgba(0,0,0,0.2)
    border-bottom 1px solid rgba(75, 49, 37, .10)
  &:after,
  &:before
    content ''
    display block
    width 21px
    height 39px
    background url('../../assets/img/interface/auth/decor.png')
    position absolute
    top 50%
    transform translate(0, -50%)
    transition all 0.2s linear
  &:before
    left -10px
  &:after
    right -10px
    transform translate(0, -50%) rotate(180deg)


.center-block
  .btn
    display block
    margin-bottom 10px
.left-block
  position fixed
  top 0
  left 50%
  transform translateX(-50%)
  height 100%
  width 500px
  background url('../../assets/img/interface/auth/left-bg.png')no-repeat top center
  background-size auto 100%
  transition all 0.2s linear
  &.left
    left 10px
    transform none
  .center
    width 240px
    position absolute
    top 44%
    left 50%
    transform translateX(-50%)
  .menu
    text-align center
    li
      display block
      margin-bottom 30px
      position relative
      &:after,
      &:before
        content ''
        display block
        width 21px
        height 39px
        background url('../../assets/img/interface/auth/decor.png')
        position absolute
        top 50%
        transform translate(0, -50%)
        transition all 0.2s linear
      &:before
        left 0
      &:after
        right 0
        transform translate(0, -50%) rotate(180deg)
      &:hover
        &:after
          right 15px
        &:before
          left 15px
    button,
    a
      color #4b3125
      text-decoration none
      font-size 30px
      font-weight 500
      font-family 'Montresor'
      background none
      border none
      cursor pointer
      outline none
  .menu-small
    li:after,
    li:before
      display none
    a,
    button
      font-size 20px
</style>
