.modal-window 
  min-height 600px
  background url('../../assets/img/bg/party-interface.jpg')no-repeat center
  background-size cover
  border-width 2px
  
  &:after
    content ''
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background rgba(0,0,0,.5)
    z-index 0
  &>*
    z-index 2

.modal-title
  font-size 30px
  position relative
  color #fff

.subtitle
  color #fff 
  font-size 24px
  margin-top 20px
  z-index 2
  position relative
  margin-bottom 10px

.party-flexbox
  display flex

.party-left
  width 100%

.party-right
  min-width 350px
  width 350px

.choosen-character
  z-index 2
  position relative
  border 2px solid #fff
  overflow hidden
  min-height 490px
  img 
    max-width 120%
    max-height 120%
    min-width 100%
    min-height 100%
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)

.choosen-short-info
  position absolute
  bottom 0
  left 0
  width 100%
  height 100px
  background rgba(0,0,0,.4)
  padding 15px
  color #fff
  .name  
    font-size 20px
    margin-bottom 15px
    width 100%
    padding-right 90px
  .power
    position absolute
    right 15px
    top 17px
  
.party-row
  max-width 600px
    