<template>
  <div class="modal">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">

      <decor />
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>

      <div class="craft-level">
        <p>Уровень ремесла:
            <span>1<button class="level-up"><i class="fas fa-angle-double-up"></i></button></span>
        </p>

      </div>

      <div class="craft-head">
        <div class="title">Ремесло</div>
        <div class="craft-list">
          <span class="active">Материалы</span>
          <span>Кольца</span>
          <span>Расходуемые</span>
          <span>Книги</span>
          <span>Другое</span>
        </div>

      </div>

      <div class="t-border a"></div>
      <div class="line-bg"></div>
      
      

      <div class="craft-recipes" v-if="recipes && recipes[choosenType]">
        <div class="recipe" v-for="(item, key) in recipes[choosenType]">
          <div class="result-img">
            <div class="img user-item" :class="item.result_img + ' ' + item.type_slug"></div>
          </div>
          <div class="left">
            <div class="title">{{item.result_name}}</div>
            <div class="sub-title">Уровень ремесла: {{item.min_craft_level}}</div>

            <div class="virtual-bag">
              <div class="virtual-bag-items bag-item" v-for="(item2, key) in item.items" :key="key">
                <i v-if="item" class="img user-item" :class="item2.img" @click="choosenCallItem = item2"></i>
                <div v-if="item2" class="info">
                  <div class="name">{{item2.name}}</div>
                  <div class="type">{{item2.type_name}}</div>
                  <div class="discription">{{item2.discription}}</div>
                </div>
                <div class="count">{{item2.count}}</div>
              </div>
            </div>
          </div>
          
          {{item.resultSus}}
          <div class="result error" :class="{'show': item.resultError }">Материалов не хватает</div>
          <div class="result sus" :class="{'show': item.resultSus }" >Успешно</div>
          

          <div class="right" v-if="item.isCraft">
            <p>Хватает материалов</p>
            <input v-model="item.inputCount">
            <button class="btn btn-bly btn-small" @click="craftItem(item)">Создать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
