.modal-window
  min-height 700px
  background url('../../assets/img/bg/character-info.jpg')no-repeat left top
  background-size cover
  border-width 2px
  .t-border.a
    top 110px
    transform rotate(180deg)
    z-index 1


.line-bg
  height 130px
  position absolute
  top 0
  left 0
  width 100%
  left 0
  background rgba(0,0,0,.3)

.craft-level
  position absolute
  right 50px
  top 35px
  z-index 10
  .level-up
    position: absolute
    right -5px
    top -5px
  p
    font-size 14px
    color #fff
    text-align center
    span
      display inline-block
      vertical-align middle
      margin-left 10px
      font-size 20px
      padding-top: 25px
      width 70px
      height 70px
      background: url('../../assets/img/icons/craft1.png')no-repeat center
      background-size 100%

.craft-head
  z-index 10
  position relative
  .title
    color #fff
    font-size 32px
    margin-bottom: 10px

.craft-list
  text-align left
  margin-left -5px
  span
    display inline-block
    vertical-align middle
    margin 10px 5px
    padding 5px 10px
    color #fff
    border-radius 5px
    font-size 14px
    background rgba(91,97,76, .58)
    cursor pointer
    &:hover,
    &.active
      background #738346

.result-img
  position absolute
  left 00px
  top 40%
  transform translateY(-50%)
  padding 30px
  border-radius 50% 0 50% 50%
  background rgba(0,0,0,.5)
  border 1px solid #9fa979

.craft-recipes
  margin-top 30px
  max-height 500px
  overflow-y auto

.recipe
  position relative
  margin 40px 0
  padding-left 130px
  border-bottom 1px dashed rgba(139, 156, 90, 0.58)
  padding-bottom 30px
  .result
    position absolute
    right 200px
    top 40px
    font-size 30px
    color #f74545
    border 2px solid #f74545
    background rgba(0,0,0,.5)
    border-radius 3px
    padding 10px 25px
    transform rotate(-24deg) scale(1.3)
    z-index 10000
    transition all 0.2s linear
    opacity 0
    &.show
      opacity 1
      transform rotate(-24deg) scale(1)
    &.sus
      border-color #4cf70b
      color #4cf70b
  .title
    color #fff
    font-size 20px
    margin-bottom: 10px
  .sub-title
    font-size 14px
    color #9fa979
    span
      font-size 16px
  .right
    position: absolute
    top 10px
    right 10px
    text-align center
    z-index 100
    p
      color green
      margin-bottom 10px
      display block
    input
      background rgba(0,0,0,.3)
      border none
      width 50px
      margin-bottom 10px
      height 30px
      color #fff
      text-align center

.virtual-bag
  z-index 20
  position relative
  margin-top 5px
  .bag-item
    display inline-block
    margin-right 10px
    transform scale(0.8)
    .count
      display block
      margin -5px auto 0
      color #fff
      border-radius: 50%
      padding-top 7px
      text-align: center
      width 30px
      height 30px
      background rgba(0,0,0,.3)

.craft-load
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 90
  background rgba(0,0,0,.6)

.craft-line
  width 668px
  height 100px
  margin 10px auto 20px
  position relative
  margin-top -20px
  z-index 90
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  &:after
    display block
    content ''
    width 100%
    height 100%
    background url('../../assets/img/interface/campain-line.png')no-repeat center
    z-index 10
    position relative
  span
    background url('https://img1.badfon.ru/wallpaper/big/2/ab/tekstury-oboi-fon-zelenyy-7686.jpg')
    position absolute
    top 45px
    left 0
    border-radius 10px
    width 5
    height 15px
