@font-face 
  font-family 'Montresor'
  src url('../fonts/Montresor.eot')
  src url('../fonts/Montresor.woff2') format('woff2'),
       url('../fonts/Montresor.woff') format('woff'),
       url('../fonts/Montresor.ttf') format('truetype'),
       url('../fonts/Montresor.svg#Montresor') format('svg'),
       url('../fonts/Montresor.eot?#iefix') format('embedded-opentype')
  font-weight normal
  font-style normal