<template>
  <div class="modal" v-if="levels">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">
      <decor class="decor-parent"/>
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>

      <!-- <div class="modal-title">Кампания</div> -->

      <div class="campain-line"><span></span></div>
      <div class="t-border a"></div>
      <div class="line-bg"></div>

      <div class="campain-leves">
        <div class="campain-level" v-for="(level, key) in levels" :key="key">
          <div class="campain-diffical normal"></div>
          <div class="campain-content">
            <div class="campain-name">
              <span>{{level.name}}</span>
              <div class="stars">
                <div class="star" :class="{'complete': level.is_complete_1}"></div>
                <div class="star" :class="{'complete': level.is_complete_2}"></div>
                <div class="star" :class="{'complete': level.is_complete_3}"></div>
              </div>
            </div>

            <div class="campain-complete" v-if="level.is_complete_3">Завершено!</div>
            <div class="campain-complete-ov" v-if="level.is_complete_3"></div>

            <div class="campain-reward">
              <p>Опыт: {{level.reward_exp}}</p>
              <p>Золото: {{level.reward_gold}}</p>
            </div>

            <div class="min-title">Награда за прохождение уровня:</div>
            <div class="campain-items">

              <div class="virtual-bag" v-if="level.rewardItems">
                <div class="virtual-bag-items bag-item" v-for="(item, key) in level.rewardItems" :key="key">
                  <i v-if="item" class="img user-item" :class="item.img"></i>
                  <div v-if="item" class="info">
                    <div class="name">{{item.name}}</div>
                    <div class="type">{{item.type_name}}</div>
                    <div class="discription">{{item.discription}}</div>
                  </div>
                </div>
              </div>

            </div>


          </div>
          <button class="attack" @click="attack(level)"></button>
        </div>


      </div>

    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
