.modal-window
  min-height 700px
  background url('../../assets/img/bg/character-info.jpg')no-repeat left top
  background-size cover
  border-width 2px
  .t-border.a
    top 110px
    transform rotate(180deg)
    z-index 1

.modal-title
  color #1e9c4d
  font-size 36px
  text-shadow 0 3px 15px rgba(0,0,0,.5)

.line-bg
  height 130px
  position absolute
  top 0
  left 0
  width 100%
  left 0
  background rgba(0,0,0,.3)
.campain-line
  width 667px
  height 100px
  margin 10px auto 20px
  position relative
  margin-top -20px
  &:before
    content 'Кампания:'
    position absolute
    left -110px
    top 40px
    z-index 10
    font-size 24px
    color #fff
  &:after
    display block
    content ''
    width 100%
    height 100%
    background url('../../assets/img/interface/campain-line.png')no-repeat center
    z-index 10
    position relative
  span
    background url('https://img1.badfon.ru/wallpaper/big/2/ab/tekstury-oboi-fon-zelenyy-7686.jpg')
    position absolute
    top 45px
    left 0
    border-radius 10px
    width 0
    height 15px

.campain-leves
  display block
  overflow-y auto
  max-height 530px
  margin-left -20px
  padding-top 10px

.campain-level
  display flex
  position relative
  padding-top 30px
  padding-left 20px
  border-bottom 1px solid rgba(255, 255, 255,.1)
  .attack
    position absolute
    right 25px
    top 50%
    transform translateY(-50%)
    width 160px
    height 160px
    background url('../../assets/img/icons/attack.png')no-repeat center
    border none
    background-size 90%
    border 1px solid rgba(255, 255, 255,.1)
    border-radius 50%
    cursor pointer
    opacity 0.7
    &:hover
      opacity 1
  &:before
    content ''
    width 100%
    background rgba(0,0,0,.4)
    height 100%
    position absolute
    left 0
    top 0
    z-index 0

.campain-reward
  position absolute
  top 45px
  right 200px
  display flex
  p
    display inline-block
    vertical-align middle
    font-size 18px
    color #fff
    margin-left 20px

.campain-content
  padding-top 00px
  padding-left 20px
  z-index 10
  .campain-name
    color #fff
    font-size 24px
    padding-top 10px
    display flex
    // margin-bottom 15px
    span
      padding-top 3px

.campain-diffical
  display block
  height 230px
  width 120px
  background url('../../assets/img/interface/campain-difical.png')no-repeat left center
  background-size auto 100%
  position relative
  z-index 1

.stars
  display flex
  margin-left 20px

.star
  display inline-block
  vertical-align middle
  width 30px
  height 30px
  background url('../../assets/img/icons/star.png')no-repeat center
  background-size 100%
  margin-right 5px
  &.complete
    background-image url('../../assets/img/icons/star-f.png')

.min-title
  font-size 16px
  color #ea8b17
  display block
  margin 25px 0 20px

.virtual-bag
  z-index 1000
  position relative
  .bag-item
    display inline-block
    margin-right 10px
    border none

.campain-complete
  position absolute
  right 250px
  font-size 30px
  color #4cf70b
  border 2px solid #4cf70b
  border-radius 3px
  padding 10px 25px
  bottom 80px
  transform rotate(-24deg)
  z-index 10000

.campain-complete-ov
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  background rgba(0,0,0,.3)
  z-index 9999
