<template>
  <div v-bind:class="{'visible': open}" v-if="team" title="Монстры в округе">
    <div class="left-move-block enemy-distric-block" v-if="team" @click="attack()">
      <!-- <div class="distric-block-content" @click="attack()"> Напасть </div> -->
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped>
  .enemy-distric-block
    width 157px
    height 120px
    background url('../../assets/img/interface/district.png')no-repeat center
    background-size contain
    cursor pointer
    position fixed
    top 01px
    right 140px
    left auto
    opacity 0.8
    cursor pointer
    &:hover
      opacity 1

  .img
    position absolute
    left 30px
    top 20%
    height 60%
    border 2px solid #ffffff
    width 60px
    background-size cover
    background-position center
    box-shadow 0 0 10px rgba(0,0,0,.5)

  .distric-block-content
    position absolute
    bottom 18px
    width 100%
    left 0
    letter-spacing 2px
    text-align center
    color #fff
    &:hover
      text-shadow 0 0 4px red

  .content
    position absolute
    left 110px
    top 15%
    span
      color #fff
      line-height 1.4
      display block
    .actions
      text-decoration underline
      font-size 16px
      cursor pointer
      display inline
      &:hover
        text-decoration none
</style>
