<template>
  <div class="owner-info" v-if="user">
    <!-- <div class="owner-info-icon">
      <div class="owner-info-icon-relative">
        <img src="https://scontent-frx5-1.cdninstagram.com/vp/26679d25f162a1f3050e0d6e21468724/5BB9FC42/t51.2885-19/s150x150/23668114_546767042324002_1461495680550830080_n.jpg" alt="">
      </div>
    </div> -->
    <div class="owner-info-conten">
      <span class="name">{{isMyTown ? user.name : 'Другой игрок'}}</span>
      <!-- <span class="login">@bitalikr</span> -->
      <span class="town">{{isMyTown ? (myTown.name + ' ' + myTown.level): 'Город' }} уровня</span>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'isMyTown',
      'user',
      'myTown'
    ])
  },
}
</script>

<style lang="stylus" scoped>
  .owner-info
    position fixed
    top 0
    left 0
    z-index 5
    width 380px
    height 160px
    background url('../../assets/img/interface/top-block.png')no-repeat left top
    background-size 100%
    padding-left 120px
    padding-top 40px
  
  .owner-info-icon
    position absolute 
    left 0
    top 0
    z-index 2
    width 150px
    height 150px
    background-size 100%
    padding 20px 15px 10px
    &-relative
      position relative
      height 100%
    img 
      width 100%
      height 100%
      border-radius 50%
      box-shadow 0 0px 16px rgba(0,0,0,.5)
      position absolute
      z-index 1
      left 50%
      top 50%
      transform translate(-50%,-50%)
      opacity 0.9
  
  .owner-info-conten
    width 261px
    height 100px
    color #fff
    .name 
      font-size 22px
    .login 
      font-size 16px
      margin-top 6px
      display block
    .town 
      font-size 14px
      display block
      margin-top 6px
    
    
</style>
