<template>
  <div class="">
    <div class="bag" v-dragged="onDragged" v-if="open">
      <div class="modal-close" v-on:click="open = false"> <i class="fas fa-times"></i></div>
      <div class="bag-items" v-if="items">
        <div
          class="bag-item"
          v-for="(item, key) in items"
          :key="key"
        >
          <i v-if="item" class="img user-item" :class="item.img + ' ' + item.type_slug" @click="dropdown = !dropdown">
            <span>{{item.count}}</span>
          </i>
          <div v-if="item && !dropdown" class="info">
            <div class="name">{{item.name}}</div>
            <div class="type">{{item.type_name}}</div>
            <div class="discription" v-html="item.discription"></div>
          </div>
          <div v-if="item">
            <div class="dropdown" v-if="dropdown">
              <button type="button" name="button">Продать</button>
              <button type="button" name="button" v-if="item.type_slug == 'chest'" @click="openChest(item)">Открыть сундук</button>
              <button type="button" name="button" @click="useItem(item)">Использовать</button>
              <button type="button" name="button" @click="deleteItem(item)">Удалить</button>
            </div>
          </div>
        </div>
        <div class="bag-item" v-for="(item, key2) in new Array(16 - items.length)" :key="key2+ 20"></div>

      </div>
    </div>

    </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
