.bag
  position fixed
  top 50%
  left 50%
  transform translate(-140px, -50%)
  width 283px
  height 380px
  background url('../../assets/img/interface/bag.png') no-repeat left top
  z-index 200
  cursor pointer
.modal-close
  right 2px
  top 12px
  font-size 24px
  color #888888
  background #1a1915
  border-radius 50%
  width 24px
  text-align center
  i
    box-shadow 1px 1px 3px rgba(0,0,0,.5)

.result-overflow
  width 100%
  height 100%
  background rgba(0,0,0,.7)
  z-index 99
  position fixed
  top 0
  left 0
.result
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 364px
  height 364px
  z-index 101
  &:after
    content: ''
    width 100%
    height 100%
    z-index 2
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background url('../../assets/img/interface/getHero.png')no-repeat center
    background-size 100%
  .hero
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index -1
    height 0
    overflow hidden
    height 180px
    width 180px
    text-align center
    animation 1s animation-opacity ease-out
    animation-fill-mode: forwards;
    background rgba(74, 50, 24,.68)
    border-radius 50%
    img
      max-height 100%
      max-width 100%


@keyframes animation-opacity
  0%
    transform translate(-50%, -50%) scale(0)
  100%
    transform translate(-50%, -50%) scale(1)
