.icon
  display inline-block
  vertical-align  middle
  background url('../../assets/img/icons/games_icons.png')no-repeat left top

  &-home
    width 35px
    height 35px
    background-position 0 -5px
  &-party
    width  35px
    height 35px
    background-position -5px -98px
  &-top
    width 34px
    height 35px
    background-position -190px -5px
  &-monster
    width 29px
    height 34px
    background-position right -1px top -53px
  &-logout
    width 26px
    height 35px
    background-position -293px -50px

.coffer
  width 180px
  height 140px
  display inline-block
  background url('../../assets/img/icons/coffers.png')no-repeat
  cursor pointer
  &:before
    content ''
    display block
    width 100px
    height 100px
    box-shadow 0 0 0
    position absolute
    z-index -1
    left 50%
    top 50%
    transform translate(-50%, -50%)
    transition all 0.2s linear
  &:hover
    &:before
      box-shadow 0 0 100px 10px rgb(255, 220, 0)

.coffer-2
  background-position -244px 0
  &:hover
    &:before
      box-shadow 0 0 100px 10px rgb(34, 98, 64)
