.user-item
  display block
  width 50px
  height 50px
  background url('../img/items.jpg')no-repeat left top
  // background-size: 470px
  position relative
  &.city_sphere
    animation 1.5s animation-shadow ease-out infinite
    animation-fill-mode: forwards
    animation-delay 0.6s

@keyframes animation-shadow
  0%, 100%
    box-shadow inset 0 0 20px rgba(0,222,48,.6)
  50%
    box-shadow inset 0 0 5px rgba(0,222,48,.6)

.user-item span
  position absolute
  right 0
  top 0
  display block
  font-size 12px
  color #fff
  padding 2px 5px
  background rgba(130, 99, 64, .47)

.items-card2{
  background-position: -50px 0
}

.items-card3{
  background-position: -50px -50px
}

.items-exp-scroll-1{
  background-position: 0 -200px
}

.items-exp-scroll-2{
  background-position: 0 -200px
}

.items-crystal-red1{
  background-position: -200px 0
}
.items-crystal-red2{
  background-position: -200px -50px
}

.items-chest1{
  background-position -354px 0
}

.items-chest2{
  background-position -354px -50px
}
.items-chest3{
  background-position -354px -100px
}
.items-chest4{
  background-position -354px -150px
}

.items-playoni-shard-1{
  background-position: -302px 0
}

.items-playoni-shard-2{
  background-position: -302px -50px
}

.items-playoni-shard-3{
  background-position: -302px -100px
}

.items-playoni-shard-4{
  background-position: -302px -150px
}

.items-playoni-shard-5{
  background-position: -302px -200px
}

.items-shere_shard_eather{
  background-position: -454px 0
}

.items-shere_shard_fire{
  background-position: -454px -200px
}

.items-shere_shard_dark{
  background-position: -454px -148px
}

.i-shere_shard_light{
  background-position: -454px -100px
}

.items-shere_shard_whater{
  background-position: -454px -50px
}
.items-old-fortess{
  background-position -404px -198px
}
.items-elf-city{
  background-position -404px -250px
}
.items-orc-settlement{
  background-position -403px -300px
}
