.skill-item
  display inline-block
  vertical-align middle
.skill
  display inline-block
  vertical-align middle
  width 60px
  height 60px
  border 1px solid #fff
  // border-radius 3px
  background url('../img/icons/skills.jpg')no-repeat left top
  padding 10px
  position relative
  margin-right 5px
  border-radius 4px
  .active &
    border-color #0a88d2
    box-shadow inset 0 0 15px #0a88d2
  span
    font-family: 'Roboto'
    font-weight 700
    color #fff
    background rgba(0,0,0,.6)
    position absolute
    left 0
    top 0
    z-index 1
    padding 5px
  &.double_shot
    background-position 0 0
  &.reinforced_shot
    background-position -60px 0
  &.protective_rack
    background-position -120px 0
  &.poisonI
    background-position -60px -61px
  &.stealth
    background-position -120px -61px
  &.amun_comanderII,
  &.amun_comanderI
    background-position 0 -61px

.magic-round
  position: absolute
  width 100%
  height 100%
  z-index 10
  top 0
  left 0
  background url('../img/animation/magic-round-1.png')no-repeat center
  background-size contain
  opacity 0
  transform scale(0) rotate(0)
  transition opacity 0.2s linear
  &.active
    transform scale(1) rotate(360deg)
    opacity 1
    transition all 0.3s linear
