<template>
  <div class="modal"  v-if="myTown">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large" :class="{'portal': chosenTab == 'portal'}">
      <decor />
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>

      <div class="town">
        <div class="town-tabs">
          <ul>
            <li :class="{'active': chosenTab=='info'}" @click="tab('info')">Характеристика города</li>
            <li :class="{'active': chosenTab=='portal'}" @click="tab('portal')">Портал миров</li>
          </ul>
        </div>
        <div class="town-conten" v-if="user && myTown">
          <!-- <div class="town-prevu"></div> -->
          <div v-if="chosenTab == 'portal'">

            <div class="portal-title">
              Портал миров
              <p>Для того что бы открыть портал в другой город вам нужна сфера.</p>
            </div>

            <div class="pre-town" v-if="shereTown" :style="'background-image: url(/static/image' + shereTown.image">
              <button @click="openPortal()" type="button" name="button">Открыть портал</button>
            </div>

            <div class="choosen-shere">
              <div class="virtual-bag-items bag-item">
                <i v-if="choosenSphere" class="img user-item" :class="choosenSphere.img" @click="choosenCallItem = item"></i>
              </div>
            </div>

            <div class="virtual-bag">
              <div class="virtual-bag-items bag-item" v-for="(item, key) in shereItems" :key="key + 100">
                <i v-if="item" class="img user-item" :class="item.img" @click="chooseSphere(item)"></i>
                <div v-if="item" class="info">
                  <div class="name">{{item.name}}</div>
                  <div class="type">{{item.type_name}}</div>
                  <div class="discription" v-html="item.discription"></div>
                </div>
              </div>

              <div class="virtual-bag-items bag-item" v-for="(item, key) in new Array(8 - shereItems.length)" :key="key">
              </div>


            </div>
          </div>
          <div v-if="chosenTab == 'info'">
            <div class="title mb-3">Характеристика города</div>
            <div class="subtitle">*Здесь вы можете просмотреть характеристику вашего города</div>

            <div class="f-table info-table">
              <div class="f-tr">
                <div class="f-td">Тип</div>
                <div class="f-td">{{myTown.name}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Уровень</div>
                <div class="f-td">{{myTown.level}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Ранг</div>
                <div class="f-td">{{myTown.rarity}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Бонус к золоту</div>
                <div class="f-td">{{myTown.gold_bust}}%</div>
              </div>

            </div>

            <hr>

            <div class="f-table info-table">

              <div class="f-tr">
                <div class="f-td">Золота в городе</div>
                <div class="f-td">{{user.gold}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Уровень шахты</div>
                <div class="f-td">{{myTown.mine_level}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Цена улутшения</div>
                <div class="f-td">{{myTown.mine_price}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Золота в час</div>
                <div class="f-td">{{myTown.gold_per_hour}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Золота в минуту</div>
                <div class="f-td">{{myTown.gold_per_hour / 60}}</div>
              </div>


            </div>

            <hr>

            <div class="f-table info-table">

              <div class="f-tr">
                <div class="f-td">Уровень казармы</div>
                <div class="f-td">{{myTown.barrack_level}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Цена улутшения</div>
                <div class="f-td">{{myTown.barrack_price}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Скидка в казарме</div>
                <div class="f-td">{{myTown.discount}}</div>
              </div>


            </div>

            <hr>

            <div class="text">{{myTown.discription}}</div>

            <!-- <div class="subtitle">Возможные отряды в округе</div>  -->
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script src="./script.js"></script>

<style src="./style.styl" scoped lang="styl"></style>
