.modal-window
  min-height 700px
  background url('../../assets/img/bg/character-info.jpg')no-repeat left top
  background-size cover
  border-width 2px
  &.portal
    background url('../../assets/img/interface/portal.jpg')no-repeat left top
    background-size cover
    .town-tabs
      background rgba(0,0,0,.7)

.town-tabs
  position absolute
  left 0
  top 10px
  height calc(100% - 20px)
  width 300px
  min-width 300px
  background rgba(0,0,0,.4)
  padding-right 15px
  padding-top 10px
  transition all 0.2s linear
  z-index 2
  .btn
    display block
    margin-bottom 15px
    background #349591
  &:after
    content ''
    display block
    width 44px
    height 100%
    position absolute
    background url('../../assets/img/interface/modal-border.png')repeat-y top center
    top 0
    left 100%
    margin-left -10px
    transform rotate(180deg)
    z-index 9
    opacity 1
    transition all 0.2s linear

  ul
    margin-top 20px
    padding-top 15px
    padding-left 30px
    li
      display block
      color #ffffff
      font-size 24px
      padding 18px 0
      text-align center
      border-bottom 1px solid rgba(255,255,255,.2)
      position relative
      text-shadow 0 2px 3px rgba(208,166,42,.5)
      transition all 0.2s linear
      cursor pointer
      &:after
        content ''
        display block
        width 6px
        height 6px
        background rgba(255,255,255,.5)
        position absolute
        bottom -3px
        left 50%
        transform translateX(-3px)
      &:hover
        border-color #fff
        &:after
          background #fff

      &.active
        border-color rgba(208,166,42,1)
        color rgba(208,166,42,1)


.virtual-bag
  z-index 1000
  position absolute
  left 340px
  bottom 40px
  text-align center
  margin-top 30px
  padding 10px
  background: rgba(19, 19, 19,.9)
  width 600px
  font-size 0
  .bag-item
    display inline-block
    margin 10px

.choosen-shere
  position absolute
  left 465px
  top 210px
  box-shadow 0 3px 15px rgba(0,0,0,.5)
  .bag-item
    margin 0
    background rgba(0,0,0,.9)

.pre-town
  position absolute
  top 150px
  height 200px
  width 300px
  right 90px
  border 10px solid rgba(0,0,0,.8)
  background-size cover
  background-position center
  background-repeat no-repeat
  button
    position absolute
    bottom 0
    left 0
    width 100%
    color #fff
    background rgba(0,0,0,.8)
    border none
    font-size 18px
    padding 13px 0 6px

.portal-title
  font-size 24px
  color #fff
  position absolute
  left 340px
  top 30px
  padding 15px
  background: rgba(19, 19, 19,.9)
  p
    display block
    margin-top 10px
    font-size 13px
    font-family: 'Roboto'
.town
  height 100%
  width 100%
  position absolute
  left 0
  top 0
  overflow hidden
  padding 25px 15px

.town-conten
  width 100%
  padding-left 330px
  padding-right 50px

.town-prevu
  height 200px
  width 100%
  background url('../../assets/img/towns/village.jpg')no-repeat center
  background-size cover

.title
  font-size 32px
  color #fff
  text-align center
  margin-bottom 10px

.info-table
  .f-td
    font-size 16px
    color #fff
    padding 7px 0
    border-bottom 1px solid rgba(255,255,255,.2)
    &:last-child
      text-align right
  .f-tr:last-child
    .f-td
      border-bottom none

.subtitle
  font-size 18px
  display block
  margin-bottom 30px
  color #fff

.text
  line-height 22px
  font-size 16px
  color #fff
