<template>
  <div class="bottom-interface">

    <div class="enemy-interface">
      <div @click="showModal('Campain')">
        <img src="@/assets/img/icons/campains.png" alt="">
      </div>
    </div>

    <div class="center-block">
      <div class="icon-list">
        <div @click="showModal('TownInterface')">
          <img src="@/assets/img/icons/town-info.png" alt="">
          <span>Город</span> 
        </div>

         <div @click="showModal('Barrack')">
          <img src="@/assets/img/icons/barrack.png" alt="" title="Казарма">
          <span>Казарма</span> 
        </div>


        <div @click="showModal('Arena')">
          <img src="@/assets/img/icons/arena2.png" alt="">
          <span>Арена</span> 
        </div>
        
        <div @click="showModal('Craft')">
          <img src="@/assets/img/icons/arena.png" alt="">
          <span>Ремесло</span> 
        </div>
        
        <div @click="openBag()">
          <img src="@/assets/img/icons/bag.png" alt="">
          <span>Рюкзак</span> 
        </div>

        <div @click="showModal('PartyInterface')">
          <img src="@/assets/img/icons/team.png" alt="">
          <span>Отряд</span> 
        </div>

        <a href="#">
          <img src="@/assets/img/icons/rate.png" alt="">
          <span>Рейтинг</span> 
        </a>

        <a href="#">
          <img src="@/assets/img/icons/setting.png" alt="">
          <span>Настройки</span>
        </a>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'bottomIntarface',
  methods: {
    showModal (modal) {
      this.$emit('showModal', modal)
    },

    openBag () {
      this.ea.$emit('open-bag', {})
    }
  }
}
</script>

<style lang="stylus" scoped src="./style.styl"></style>
