.bottom-interface
  position fixed
  bottom 0
  left 0
  width 100%
  z-index 5

// .left-block
//   position absolute
//   width 522px
//   right 50%
//   margin-right 200px
//   bottom -30px
//   height 205px
//   background url('../../assets/img/interface/left-block.png')no-repeat center
//   background-size 100%
//   padding 90px 15px 0
//
// .right-block
//   position absolute
//   width 522px
//   left 50%
//   margin-left 200px
//   bottom -30px
//   height 205px
//   background url('../../assets/img/interface/right-block.png')no-repeat center
//   background-size 100%
//   padding 90px 15px 0

.center-block
  position absolute
  width 1300px
  left 50%
  transform translate(-50%, 0)
  top auto
  bottom -5px
  height 240px
  background url('../../assets/img/interface/bottom-center.png')no-repeat center
  background-size 1300px
  padding 120px 55px 0
  z-index 10

.user-icon
  position absolute
  left 50%
  transform translate(-50%,0)
  bottom 10px
  width 150px
  height 150px
  background  url('../../assets/img/interface/round.png')no-repeat center
  background-size 100%
  padding 20px 15px 10px
  z-index 10
  &-relative
    position relative
    height 100%
    z-index 10
  img
    width 100%
    height 100%
    border-radius 50%
    box-shadow 0 0px 16px rgba(0,0,0,.5)
    position absolute
    z-index 1
    left 50%
    top 50%
    transform translate(-50%,-50%)
    opacity 0.9
    transition  all 0.2s linear

  a
    width 100%
    top 50%
    transform translate(0,-50%)
    left 0
    position absolute
    z-index 2
    color #fff
    font-size 14px
    text-align  center
    background rgba(0,0,0,.5)
    padding 5px 0
    opacity 0
    transition  all 0.2s linear
    text-decoration none
  &:hover
    img
      opacity 0.5
    a
      opacity 1

.icon-list
  display flex
  justify-content space-between
  height 100px
  align-items flex-end
  & > div,
  a
    margin 0 15px
    text-decoration none
    text-align center
    opacity 0.8
    transition all 0.2s linear
    cursor pointer
    &:hover
      opacity 1
  span
    display block
    font-size 14px
    color #ffffff
    text-decoration none
    text-align center
    margin-top 3px
    text-shadow 0 0 3px rgba(0,0,0,.4)
    background rgba(0,0,0,.5)
    margin-top: -20px
    position: relative
    z-index 5
    padding 5px
  .fas
    font-size 30px
    color #fff
  img
    height 70px

.enemy-interface
  position fixed
  top 0px
  right 30px
  opacity 0.8
  cursor pointer
  &:hover
    opacity 1
  &>div
    height 130px
    img
      height 100%
