<template>
  <div class="general-layout">
    <router-view/>

    <bottom-interface @showModal="showModal"/>

    <owner-info />

    <town-interface v-show="activeModal == 'TownInterface'" @close-modal="activeModal = false" />

    <party-interface v-show="activeModal == 'PartyInterface'" @close-modal="activeModal = false" />

    <character-info v-show="activeModal == 'CharcterInfo'" @close-modal="activeModal = false" />

    <barrack v-show="activeModal == 'Barrack'" @close-modal="activeModal = false" />

    <arena  v-show="activeModal == 'Arena'" @close-modal="activeModal = false"/>

    <campain v-show="activeModal == 'Campain'" @close-modal="activeModal = false" />
    
    <craft v-show="activeModal == 'Craft'" @close-modal="activeModal = false" />

    <enemy-district />

    <travel />

    <bag/>

    <open-chest />

    <chat />

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import bottomInterface from '@/components/bottom-interface'
import ownerInfo from '@/components/owner-info'
import townInterface from '@/components/town-interface'
import partyInterface from '@/components/party-interface'
import characterInfo from '@/components/character-info'
import enemyDistrict from '@/components/enemy-district'
import barrack from '@/components/barrack'
import travel from '@/components/travel'
import arena from '@/components/arena'
import bag from '@/components/bag'
import openChest from '@/components/open-chest'
import campain from '@/components/campain'
import chat from '@/components/chat'
import craft from '@/components/craft'

export default {
  name: 'general',
  components: {
    bottomInterface,
    ownerInfo,
    townInterface,
    partyInterface,
    characterInfo,
    enemyDistrict,
    barrack,
    travel,
    arena,
    bag,
    openChest,
    campain,
    chat,
    craft
  },
  data () {
    return {
      activeModal: null,
      bagOpen: false
    }
  },

  methods: {
    showModal (modal) {
      this.activeModal = modal
      this.ea.$emit('open-' +  this.activeModal)
    },
  },

  mounted () {
    this.ea.$on('open-interface', (args) => {
      this.activeModal = args.name
      this.ea.$emit('open-' + args.name)
    })

    this.ea.$on('open-interface', (args) => {
      this.activeModal = args.name
      this.ea.$emit('open-' + args.name)
    })

    this.$once('hook:beforeDestroy',  () => {
      this.ea.$off('open-interface')
      this.ea.$off('close-interface')
    })

    this.ea.$on('close-interface', (args) => {
      this.activeModal = null
      // this.ea.$emit('close-' + args.name)
    })
  }
}
</script>
