<template>
  <div class="opened-chest" v-if="chest && chest.img">
    <div class="chest">
      <i class="img user-item" :class="chest.img"></i>
    </div>
    <div class="chest-name">{{chest.name}}</div>
    <div class="stone-close" @click="chest = {}"></div>

    <div class="chest-results">
      <div
        class="bag-item"
        v-for="(item, key) in results"
        :key="key"
      >
        <i v-if="item" class="img user-item" :class="item.img"></i>
        <div v-if="item" class="info">
          <div class="name">{{item.name}}</div>
          <div class="type">{{item.type_name}}</div>
          <div class="discription">{{item.discription}}</div>
        </div>
      </div>
    </div>

    <button type="button" class="stone-btn" name="button" @click="openChest()">Открыть</button>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
