.opened-chest
  width 450px
  height 573px
  position fixed
  top 50%
  left 50%
  z-index 111
  transform translate(-50%, -50%)
  &:after
    content ''
    display block
    width 100%
    height 100%
    left 0
    top 0
    background url('../../assets/img/interface/chest-open.png')no-repeat center
    background-size 100%
  .chest
    position absolute
    left 18px
    top 3px
    width 75px
    height 75px
    z-index -1
    background #767b7d
    border-radius 50%
    padding 15px
  .chest-name
    position absolute
    left 110px
    top 33px
    color #c3611a
    font-size 18px
    text-shadow 2px 2px 5px rgba(0,0,0,.3)
  .stone-close
    position absolute
    right 2px
    top 20px
    width 28px
    height 28px
    background url('../../assets/img/icons/close.jpg')no-repeat center
    background-size 100%
    cursor pointer
    &:hover
      transform scale(0.99)
    &:active
      transform scale(0.94)

  .stone-btn
    position absolute
    bottom 30px
    left 50%
    transform translate(-50%, -1px)
    margin-left 6px
    &:hover
      transform translate(-50%, -2px)
    &:active
      transform translate(-50%, -1px) scale(0.99)

.chest-results
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 160px
  height 160px
  margin-top -16px
  margin-left 10px
  .bag-item
    display inline-block
    transform scale(0.93)
    margin-right 1px
