.bag-items
  display flex
  flex-wrap wrap
  padding-left 30px
  margin-top 95px
  padding-right 22px
  justify-content space-between
  max-height 240px
  will-change: transform
  // overflow auto
.bag-item
  display block
  width 52px
  height 52px
  border 1px solid #826337
  box-shadow 0 0 5px 1px rgba(0,0,0,0.3)
  margin-bottom 5px
  text-align center
  cursor pointer
  position relative
  &:hover
    .info
      transform translate(-50%, -10px) scale(1)
    .dropdown
      transform translate(0, -50%) scale(1)

  .dropdown
    position absolute
    top 50%
    left 100%
    transform translate(0, 0%) scale(0)
    background #191817
    width 130px
    padding 10px 10px
    font-family: 'Roboto'
    text-align left
    transition all 0.1s linear
    border 1px solid #826336
    z-index 10
    button
      background none
      color #fff
      border none
      border-bottom 1px solid #826336
      display block
      width 100%
      outline none
      text-align left
      // border-bottom 1px solid #fff
      padding 5px 0
      cursor pointer

      &:last-child
        border none
  .info
    position absolute
    bottom 100%
    margin-top -5px
    left 50%
    transform translate(-50%, -10px) scale(0)
    width 200px
    background rgba(0,0,0,.9)
    padding 15px
    font-family: 'Roboto'
    text-align left
    transition all 0.1s linear
    .fiol
      color green
    &:after
      content ''
      display block
      border 8px solid transparent
      position absolute
      top 100%
      left 50%
      transform translate(-50%, 0)
      border-top 8px solid rgba(0,0,0,.7)
    .name
      font-size 14px
      line-height 1.2
      display block
      margin-bottom 10px
    .type
      font-size 12px
      color #00a1ff
      margin-bottom 5px
    .discription
      font-size 11px
      line-height 1.3
