.left-move-block
  position absolute
  bottom 200px
  left  -100%
  z-index 5
  transition all 0.2s linear

.visible > .left-move-block,
.visible > div  > .left-move-block,
.visible > div > div > .left-move-block,
.visible > div > div > div > .left-move-block{
  left 30px
}
