.possible-row
  padding 30px 0 15px
  padding-left 15px
  text-align center 
  border-bottom 1px solid #92371a
  position relative 
  background rgba(146,55,26,.2)
  &:first-child
    border-top 1px solid rgba(255,255,255,.5)
  &:after 
    content ''
    display block
    width 100%
    height 23px
    background url('../img/interface/rows.png')no-repeat
    background-position center -87px
    position absolute 
    left 0
    top 100%
    z-index 10
  
.possible-row:nth-child(2)
  border-color #585a59
  background rgba(88, 90, 89, .2)
  &:after
    background-position center -155px
  
.possible-row:nth-child(3)
  border-color #8f4b00
  background rgba(143, 45, 0, .2)  
  &:after
    height 28px
    background-position center -236px

.possible-row:nth-child(4)
  border-color #3d35ac
  background rgba(61, 53, 172,.1)
  &:after
    height 34px
    background-position center -407px

.possible-row:nth-child(5)
  border-color #8a8f79
  padding-top 45px
  background rgba(76, 127,108, .2)  
  &:after
    height 40px
    background-position center -499px

.possible-row:nth-child(6)
  border-color #8a8f79
  padding-top 45px
  background rgba(204, 183, 56, .2)  
  &:after
    height 40px
    background-position center -586px
  
.possible
  margin 25px 0

.possible-row-title
  color #f8b800
  font-size 24px
  margin-bottom 10px

.posible-item
  display inline-block
  vertical-align top 
  margin 10px 10px 
  position relative
  .img 
    width 70px
    height 70px
    z-index 2
    background-repeat no-repeat 
    background-size cover
    background-position center
  &:after
    content ''
    display block
    width 82px
    height 82px
    position absolute 
    top -6px
    left -6px
    background url('../img/interface/item.png')no-repeat center
    background-size 100%