<template>
  <div class="modal">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">
      <decor class="decor-parent"/>
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>

      <div class="barrack">
        <div class="barrack-tabs active" :class="{'active': showSidebar}">
          <ul>
            <li :class="{'active': openTab=='call'}" @click="tab('call')">Камень призыва</li>
            <li :class="{'active': openTab=='barrack'}" @click="tab('barrack')">Наем воинов</li>
            <li :class="{'active': openTab=='possible'}" @click="tab('possible')">Возможные воины</li>
          </ul>
        </div>
        <div class="barrack-content">
          <div class="barrack-tab" v-if="openTab == 'barrack'">
            <div class="title mb-3">Воины в казарме</div>

            <div class="filter-block text-center">
              <div class="filter-col">
                <p>Фильтровать по цене</p>
                <input
                  type="number"
                  class="input"
                  autocomplete="off"
                  v-model="priceMin"
                  step="50"
                  name="a"
                  placeholder="От">
                <input
                  type="number"
                  class="input"
                  autocomplete="off"
                  v-model="priceMaxP"
                  step="50"
                  name="b"
                  placeholder="До">
              </div>
            </div>
            <vue-perfect-scrollbar class="scroll-area" >
              <div>

                <div class="party-row">
                  <span v-for="(item, key) in characters" :key="key" v-if="item.price > priceMin && item.price < priceMax">
                    <div class="party-item party-item-home">
                      <i class="fas fa-user-times remove-item" @click="removeChar(item.id)"></i>
                      <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
                    </div>
                    <div class="name">{{item.name}}</div>
                    <span class="price">{{item.price}} золотых</span>
                    <button class="btn-img" @click="hire(item.id)">Нанять</button>
                  </span>
                </div>

              </div>
            </vue-perfect-scrollbar>
          </div>
          <div class="barrack-tab possible-tab" v-if="openTab == 'possible'">
              <div class="title mb-3">Доступные воины</div>
              <vue-perfect-scrollbar class="scroll-area" >
                <div class="possible">
                  <div class="possible-row" v-for="(row, key) in possibleCharacters" :key="key+100">
                    <div class="possible-row-title">{{key}} уровень казармы</div>
                    <div class="possible-items">
                      <div class="posible-item" v-for="(item, key2) in row" :key="key2 + 111" :title="item.name">
                        <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </vue-perfect-scrollbar>
          </div>
          <div class="barrack-tab possible-tab" v-if="openTab == 'call'">

            <div class="title mb-3">Камень призыва</div>
            <div class="call-result result-hero" :class="{'calling': animationCallingChar}">
              <div class="hero">
                <img v-if="callingCharacter" :src="'/static/image' + callingCharacter.img">
              </div>
              <div v-if="choosenCallItem" class="choosen-item virtual-bag-items bag-item" >
                <i class="img user-item" :class="choosenCallItem.img"></i>
                <div class="info">
                  <div class="name">{{choosenCallItem.name}}</div>
                  <div class="type">{{choosenCallItem.type_name}}</div>
                  <div class="discription">{{choosenCallItem.discription}}</div>
                </div>
              </div>

              <button class="call-btn" v-if="!callingCharacter" @click="callCharacter(choosenCallItem)">Призвать</button>
              <button class="call-btn"
                v-if="callingCharacter"
                @click="callingCharacter = null; choosenCallItem=null; animationCallingChar= null">
                Получить
              </button>
            </div>

            <div class="title mb-3">Выберите книгу для призыва</div>
            <div class="virtual-bag">
              <div class="virtual-bag-items bag-item" v-for="(item, key) in callCards" :key="key">
                <i v-if="item" class="img user-item" :class="item.img" @click="choosenCallItem = item"></i>
                <div v-if="item" class="info">
                  <div class="name">{{item.name}}</div>
                  <div class="type">{{item.type_name}}</div>
                  <div class="discription">{{item.discription}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
