.modal-window
  min-height 700px
  background url('../../assets/img/bg/character-info.jpg')no-repeat center
  background-size cover
  border-width 2px


.modal-title
  color #fff

// .modal-sidebar
//   position absolute
//   width 400px

.decor-parent *
  z-index 15

.virtual-bag
  z-index 1000
  position relative
  text-align center
  margin-top 30px
  .bag-item
    display inline-block
    margin 10px

.barrack-tabs
  position absolute
  left -300px
  top 10px
  height calc(100% - 20px)
  width 300px
  min-width 300px
  background rgba(0,0,0,.4)
  padding-right 15px
  padding-top 10px
  transition all 0.2s linear
  z-index 2
  &.active
    left 0
    &:after
      opacity 1
  .btn
    display block
    margin-bottom 15px
    background #349591
  &:after
    content ''
    display block
    width 44px
    height 100%
    position absolute
    background url('../../assets/img/interface/modal-border.png')repeat-y top center
    top 0
    left 100%
    margin-left -10px
    transform rotate(180deg)
    z-index 9
    opacity 0
    transition all 0.2s linear

  ul
    margin-top 20px
    padding-top 15px
    padding-left 30px
    li
      display block
      color #ffffff
      font-size 24px
      padding 18px 0
      text-align center
      border-bottom 1px solid rgba(255,255,255,.2)
      position relative
      text-shadow 0 2px 3px rgba(208,166,42,.5)
      transition all 0.2s linear
      cursor pointer
      &:after
        content ''
        display block
        width 6px
        height 6px
        background rgba(255,255,255,.5)
        position absolute
        bottom -3px
        left 50%
        transform translateX(-3px)
      &:hover
        border-color #fff
        &:after
          background #fff

      &.active
        border-color rgba(208,166,42,1)
        color rgba(208,166,42,1)


.barrack
  height 100%
  width 100%
  position absolute
  left 0
  top 0
  overflow hidden
  padding 25px 15px

.barrack-content
  width 100%
  padding-left 330px

.title
  font-size 32px
  color #fff
  text-align center
  margin-bottom 20px

.barrack-tabs-btn
  position absolute
  left 100%
  top 50%
  padding 50px 10px
  transform translate(5px, -50%)
  border 2px solid #d0a62a
  color #d0a62a
  border-left none
  border-radius 4px
  cursor pointer
  transition all 0.2s linear
  z-index 10
  &.active
    transform translate(4px, -50%)
    border-left 2px solid #d0a62a
    border-right none
    left auto
    right 0

  &:hover
    background rgba(0,0,0,.4)
    color #fff

.party-row > span
  display inline-block
  text-align center
  width 20%
  margin-bottom 20px
  button
    margin-top 0px
    margin-bottom 15px

  .price
    margin-top 5px
    color #e8d811
    font-size 14px
    display block

  &:hover .remove-item
    opacity 1

.scroll-area
  position: relative;
  margin: auto;
  width: 100%;
  height: 460px

.possible-tab
  padding-right 10px
  .info
    // border-bottom 2px solid #fff
    padding-bottom 15px
    padding-right 20px
    display block
    box-shadow 0 4px 15px rgba(0,0,0,.3)
  .scroll-area
    height 520px

.name
  color #fff
  font-size 18px
  margin-bottom 5px
  margin-top 5px

.filter-block
  margin-bottom 40px

.filter-block p
  font-size 18px
  color #ffffff
  margin-bottom 6px

.filter-block
  input
    width 100px

.remove-item
  position absolute
  right 5px
  bottom 5px
  font-size 16px
  color #fff
  cursor pointer
  opacity 0
  &:hover
    color #ff4949

.possible
  padding-right 20px

.call-result
  position relative
  width 364px
  height 364px
  z-index 101
  margin 0 auto 20px
  .call-btn
    position absolute
    left 50%
    transform translate(-50%, 0)
    z-index 11
    bottom 40px
    padding 9px 28px
    border 2px solid rgba(82,87,83,.8)
    border-radius 5px
    background: rgba(82,87,83,.8)
    font-size 20px
    color #fff
    font-family 'Montresor'
    text-shadow 3px 3px 4px rgba(0,0,0,.8)
    transition all 0.1s linear
    box-shadow 0 3px 15px rgba(0,0,0,.6)
    cursor pointer
    outline none
    &:hover
      bottom 41px
    &:active
      bottom 39px
      border-color #fff

  .choosen-item
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 10
  &:after
    content: ''
    width 100%
    height 100%
    z-index 2
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background url('../../assets/img/interface/getHero.png')no-repeat center
    background-size 100%
  &.calling
    .hero
      animation 1s animation-calling ease-out
      animation-fill-mode: forwards
      animation-delay 0.6s
    .choosen-item
      animation 0.5s animation-calling ease-out
      animation-fill-mode: forwards
      animation-direction: reverse
  .hero
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%) scale(0)
    z-index -1
    height 0
    overflow hidden
    height 195px
    width 195px
    text-align center
    background rgba(0,0,0,.41)
    border-radius 50%
    img
      max-height 100%
      max-width 100%

@keyframes animation-calling
  0%
    transform translate(-50%, -50%) scale(0)
  100%
    transform translate(-50%, -50%) scale(1)
