<template>

  <div id="app">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <loader/>

    <router-view/>

    <socketReceiver />
  </div>

</template>

<script>
import loader from '@/components/loader'
import { mapGetters, mapActions, mapMutations} from 'vuex'

import socketReceiver from '@/utils/socketReceiver.vue'

export default {
  name: 'App',

  components: {
    loader,
    socketReceiver
  },

  methods: {
    ...mapActions(['getUser']),
    loadUser () {
      let token = localStorage.getItem('__TOKEN__')
      if(token) {
        let getUser = this.getUser()

        Promise.all([getUser])
        .then(() => {
          this.$router.push('/my-town')
        })
        .catch((error) => {
          localStorage.removeItem('__TOKEN__')
          this.ea.$emit('endLoading')
        })
      }
      else this.ea.$emit('endLoading')
    }
  },

  mounted () {
    if(!this.user) {
      this.ea.$emit('startLoading')
      this.loadUser()
    }
  }
}

</script>

<style lang="stylus" src="@/assets/style/style.styl"></style>
