<template>
  <div class="chats">
    <div class="chats-tabs">
      <div class="chat-tab">Мир</div>
    </div>
    <div class="chats-messages" id="chats-message">
      <div class="message" v-for="(item, key) in messages[chat]" :key="key">
        <p class="date">{{item.date}}</p>
        <p class="user">{{item.user.name}}</p>
        <p>{{item.message}}</p>
      </div>
    </div>
    <input placeholder="Введите сообщение" v-model="message" v-on:keyup.enter="send()">
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
