.chats
  position fixed
  left 15px
  bottom 200px
  width 300px
  input
    border none
    background rgba(0,0,0,.4)
    font-size 14px
    color #fff
    display block
    width 100%
    margin-top 3px
    padding 5px 10px
    outline none

.chats-tabs
  margin-bottom 1px
  .chat-tab
    display: inline-block;
    vertical-align bottom
    background rgba(0,0,0,.4)
    color #fff
    font-size 14px
    padding 5px

.chats-messages
  height 300px
  background rgba(0,0,0,.4)
  padding-top 10px
  overflow hidden

.message
  display block
  width 100%
  padding-left 10px
  margin-bottom 10px
  .user
    color #86bb25
  .date
    display inline-block
    // vertical-align middle
    width 30px
    color #bbbbbb
  &>p
    display inline
    color #fff
    font-size 14px
