<template>
  <div class="travel-block" title="В путь!" @click="startTravel()">
    <!-- <img src="@/assets/img/icons/map.png" alt=""> -->
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus">
  .travel-block
    position absolute
    bottom  50%
    transform translateY(50%)
    right 20px
    transition all 0.2s linear
    filter grayscale(40%)
    cursor pointer
    &:hover
      filter grayscale(0%)
    img
      width 120px
</style>
