<template>
  <div class="modal">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">
      <decor class="decor-parent"/>
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>
      <div class="modal-title">Арена</div>
      <div class="arrena-desk arena-left">
        <div class="title">Лучшие игроки</div>
        <div class="arena-table">
          <div class="row row-head">
            <div class="field">Место</div>
            <div class="field">Имя</div>
            <div class="field">Побед</div>
          </div>

          <div class="row" v-for="(item, key) in top" :key="key">
            <div class="field">{{key}}</div>
            <div class="field">{{item[1].name}}</div>
            <div class="field">{{item[1].wins}} <i class="fas fa-skull"></i></div>
          </div>

        </div>
      </div>
      <div class="arena-center" :class="{'load': load}">
        <div class="start" @click="load ? stop() : startBattle()"></div>

        <button type="button" class="red-btn" name="button" @click="load ? stop() : startBattle()">
          <span v-show="!load">В бой!</span>
          <span v-show="load">Отменить поиск!</span>
        </button>
      </div>
      <div class="arrena-desk arena-right" v-if="user && myLogs">
        <div class="title">Ваш рейтинг: {{user.rating ? user.rating : 0}} <i class="fas fa-trophy"></i></div>
        <div class="arena-table">
          <div class="row row-head">
            <div class="field">Результат</div>
            <div class="field">Противник</div>
            <div class="field">Рейтинг</div>
          </div>

          <div class="row" v-for="(item, key) in myLogs" :key="key" :class="{'win': item.win, 'loss': !item.win}">
            <div class="field">{{item.win ? 'Победа' : 'Поражение'}}</div>
            <div class="field">{{item.opponentName}}</div>
            <div class="field">{{item.win ? '+' : '-'}}{{item.rate}} <i class="fas fa-trophy"></i></div>
          </div>

        </div>

        <div class="arena-coffer">
          <i class="coffer coffer-2"></i>
        </div>

      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
