.modal-window
  min-height 700px
  background #161b20
  background url('../../assets/img/bg/arena.jpg')no-repeat center
  background-size cover
  border-width 2px

.arena-center
  position absolute
  z-index 1
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 287px
  height 287px
  background url('../../assets/img/interface/arena.png')no-repeat center
  .start
    position absolute
    top 50%
    left 50%
    width 201px
    height 201px
    transform translate(-50%, -50%)
    background-image url('../../assets/img/interface/arena-logo-hover.png')
    background url('../../assets/img/interface/arena-logo.png')no-repeat center
    background-size 100%
    cursor pointer
    z-index 10
    &:hover
      background-image url('../../assets/img/interface/arena-logo-hover.png')
  &:after
    content ''
    display block
    opacity 0
    width 225px
    height 225px
    border 20px solid rgba(0, 67, 255,.1)
    border-radius 50%
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition all 0.2s linear
  &.load
    .start
      background-image url('../../assets/img/interface/arena-logo-hover.png')
    &:after
      opacity 1
      animation 1s animation-opacity ease-out infinite


@keyframes animation-opacity
  0%, 100%
    opacity 1
  50%
    opacity 0

.modal-title
  color #fff
  font-size 50px

.arrena-desk
  background rgba(10, 17, 27,.6) url('../../assets/img/interface/arena-desk.png')no-repeat center top
  background-size 100% 100%
  height 500px
  width 360px
  position absolute
  left 30px
  top 50%
  transform translateY(-50%)
  z-index 0
  padding-top 40px
  .title
    text-align center
    color #dcdcdc
    font-size 28px

.arena-right
  left auto
  right 30px
  .arena-table
    .field
      &:nth-child(2)
        width 45%
      &:first-child
        width 30%
        letter-spacing 1px
.arena-table
  display block
  width 100%
  padding-left 30px
  padding-right 30px
  padding-top 30px
  .row
    display flex
    width 100%
    justify-content space-between
    padding 7px 0
    border-bottom 1px solid rgba(255,255,255,.3)
    transition all 0.2s linear
    &:hover
      background rgba(0,0,0,.2)
      cursor pointer
    &.row-head
      padding-bottom 12px
      .field
        font-size 18px
    &.win
      .field:first-child,
      .field:last-child
        color #06de74
    &.loss
      .field:first-child,
      .field:last-child
        color #ff7685
  .field
    width 55%
    font-size 14px
    color #dcdcdc
    text-align left
    &:first-child
      width 20%
      text-align center
      margin-right 5%
    &:last-child
      text-align center
      width 20%

.arena-coffer
  position absolute
  bottom 50px
  left 0
  width 100%
  text-align center

.red-btn
  position absolute
  bottom -20px
  left 50%
  transform translateX(-50%)
  span
    font-size 18px
    color #fff
    font-family: 'Montresor'
